<section class = "top container-fluid" >
  <div class = "row">
    <div class = "top-images">

      <div class = "col-md-6 col-md-offset-2 col-sm-8 ">
        <p class = "flash"><%= notice%><%= alert %></p>
        <h2>このFacebook風アプリは、勉強用に作成されたものです。これでよければ色々な人たちとつながりを深めていただければと思います。ケータイ、スマートフォンからもアクセスできます。</h2>
        <div class = "top-image">
          <img src = "<%= asset_path "top.png"%>">
        </div>
      </div>

      <div class = "col-md-2 col-sm-4 ">
         <div class = "login-out">
            <% if user_signed_in? %>
              <h2><%= link_to 'マイページ', edit_user_registration_path%></h2>
              <h2><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></h2>
            <% else %>
              <h2><%= link_to 'ログイン', new_user_session_path %></h2>
              <h2><%= link_to 'サインアップ', new_user_registration_path %></h2>
            <% end %>
          </div>
      </div>

    </div>


  </div>
</section>