<div class="container">
 <h1>ユーザー</h1>
  <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <li>
          <div class="image_size">
            <%= profile_img(user) %>
          </div>
          <div class="item">
            <br>
            <%= link_to user.name, user %>
            <br>
            <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
            <br>
            <%= link_to "詳細",user_path(user), class: 'btn btn-default btn-sm btn-success' %>
          </div>
          <%= render partial: 'follow_form', locals: { user: user } if signed_in? %>
        </li>
      <% end %>
  <% end %>
</div>