<div class="container">
  <h2>ユーザ一詳細画面</h2>
  <br>
  <p class="left"><strong>名前:</strong></p>
  <p class="left"><%= @users.name %></p>
  <br>
    <p class="left">---------------------------------- </p>
    <p class="left"><strong>■フォローしている人一覧</strong></p>
    <% @users.followed_users.each do |user| %>
      <div>
      <p class="left"><%= user.name %></p>
      <p class="left"><%= profile_img(user) %></p>
        <% end %>
    <br>
    <p class="left">---------------------------------- </p>
    
    <p class="left"><strong>◆フォロワー一覧</strong></p>
    <% @users.followers.each do |user| %>
      <div>
      <p class="left"><%= user.name %></p>
      <p class="left"><%= profile_img(user) %></p>
       <% end %>
      </div>
      <%= render 'form' %>
</div>